<!DOCTYPE html>
<html style="background-color: #CCCCCC">
<head>
	<title>About Me</title>
</head>
<body>
    <h1 style="background-color:blue;color:white;text-align: center">Hello !!</h1>
    <h2 style="text-align: center;font-weight: bold">About Me</h2>
    <p style="font-size:50px">I am Avinash Kumar Dasoundhi. I am a final year computer science student pursuing my B.Tech from Dr. B.C. Roy Engineering College. I will graduate in June 2016.
    </p>
    <p style="text-align: center;font-size: 40px">I am an open source enthusiast.</p>
    <p style="text-align: center;font-size: 30px">Thank You.</p>
</body>
</html>